meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Sistemas de comunicación
meta(meta name="description" content="El número de sensores y actuadores en los vehículos es muy alto, debido a las necesidades de controlar de manera electrónica los sistemas, logrando mayor eficiencia, seguridad y confort.  De igual manera, el número de señales han aumentado y la misma información debe ser procesada por varios módulos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")