h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 280601098-01. Caracterizar las redes multiplexadas de acuerdo con las especificaciones del fabricante




