h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Fundamentos en redes de comunicación', 'main.html#page/fundamentos/')
                    +navTemaItem('2', 'Conceptos de los componentes básicos de módulo de control', 'main.html#page/conceptos/')
                    +navTemaItem('3', 'Fundamentos de los conectores de diagnóstico - Data Link Connector DLC', 'main.html#page/conectores/')
                    +navTemaItem('4', 'Características de los tipos de comunicación', 'main.html#page/tipos/')