.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Baudio:	
            | Es una unidad de medida de la velocidad en sistema de comunicaciones y se mide en bits por segundo (bit/s).
        
        p
            strong.mr-2 Dominante:
            | Equivalente al nivel lógico “0” correspondiente a 0 Volts.
        p 
            strong.mr-2 Multimaestro:
            | Referente a los módulos de control que en una red pueden realizar funciones de maestro teniendo el mismo nivel.
        p 
            strong.mr-2 Recesivo:
            | Equivalente al nivel lógico “1” correspondiente a un valor de tensión dependiendo del protocolo.
