include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Mantenimiento de redes CAN BUS
        meta(meta name="description" content="Ruta de aprendizaje programa Mantenimiento de redes CAN BUS.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Mantenimiento de redes CAN BUS
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul
                                        li 
                                            span #[strong Nombre del programa:] Mantenimiento de redes CAN BUS
                                        li 
                                            span #[strong Código:] 83810378
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 5 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Instructor de la Red de Conocimiento Automotor del SENA. Cumplir con el trámite de selección definido por la Escuela Nacional de Instructores.

                    

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.png").curso-imagen            


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 No solo las comunicaciones en el mundo se limitan a las empresas o a nuestras casas, también los vehículos entran en esa necesidad de la información. En este programa de formación virtual, aprenderemos la manera como los módulos de control - computadoras - de los sistemas de motor, transmisión, frenos, los sistemas de seguridad y de confort de los vehículos, se comunican entre ellos para compartir la información de las variables recogidas como señales a través de los sensores. 
                
                p En el programa Mantenimiento de redes CAN BUS, aprenderemos la manera de interpretar la estructura de los mensajes, la configuración física de la red y la manera de diagnosticar las redes de CAN BUS especialmente con el osciloscopio. 
                
                p Es importante conocer, que el material desarrollado en este curso, hace parte de la transferencia recibida durante una capacitación a instructores SENA del país.  


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El programa Mantenimiento de redes CAN BUS, pretende formar y actualizar en esta competencia a los instructores de la Red Automotor en inspección, diagnóstico, pruebas y mantenimiento en CAN BUS, con base en la capacitación recibida por 14 instructores en la Academia Bosch en Madrid España y Campinas Brasil. Esta transferencia les permitirá incluir estas temáticas en el currículo técnico y tecnológico de la formación que imparten a los aprendices y elevar el nivel de sus competencias.

                p Estas tecnologías ya son de uso común en vehículos importados y ensamblados en nuestro país, por lo tanto, es indispensable que los instructores del SENA estén capacitados para transferir a sus aprendices, actualizándolos y de este modo garantizar que el empleador vea la importancia de su contratación, mejorando las cifras de empleabilidad.

                p El desarrollo del sector automotor tiene el compromiso de la protección de la calidad del aire disminuyendo sus emisiones contaminantes, además de las obligaciones por mejorar la seguridad de los ocupantes. Esto ha ocasionado el aumento del número de módulos de control para administrar los sistemas de los vehículos con eficiencia y rapidez de la información. Por lo tanto, las informaciones transmitidas por los diferentes componentes de los sistemas que manejan información deben ser compartidas simultáneamente por muchos módulos. De ahí que sea de suma importancia que, sin incrementar el cableado, los módulos estén conectados en red a través de sistemas multiplexados.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El programa de formación, #[strong Mantenimiento de redes CAN BUS], está dirigido a Instructores de la red de conocimiento automotor del SENA


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje autónomo,  el uso de estrategias didácticas activas que estimulan el pensamiento para el análisis  de estudios de caso; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales, que en todo caso recrean el contexto productivo y vinculan al aprendiz y a las organizaciones  con la realidad cotidiana y el desarrollo de las competencias.
                
                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





